<table>
    <tbody>
        <% @questions.each do |question| %>
            <tr> 
                <td> <%= question.question_body %> 
                    </br><br>  
                    <% question.choices.each do |ch| %>
                        <ul>
                            <input Type="radio" name="ch.choice_body" onclick="calculateScore"> <%= ch.choice_body %></input>
                        </ul>
                    <% end %>
                </td>
            </tr>   
        <% end %>
    </tbody>
</table>