<h1> <strong> Hello User ! </strong> </h1>
 
<h1> Welcome the Personality Test </h1>

<h1> What Type of Personality You Have ? </h1>


<button>
    <%= link_to 'Start Test', questions_index_path %>
</button>
